<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thundersdata.backend.basic.dao.SysLocationMapper" >
  <resultMap id="BaseResultMap" type="com.thundersdata.backend.basic.model.SysLocation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="location_code" property="locationCode" jdbcType="VARCHAR" />
    <result column="location_name" property="locationName" jdbcType="VARCHAR" />
    <result column="location_level" property="locationLevel" jdbcType="TINYINT" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>

  <resultMap id="DtoResultMap" type="com.thundersdata.backend.basic.dto.SysLocationDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="location_code" property="locationCode" jdbcType="VARCHAR" />
    <result column="location_name" property="locationName" jdbcType="VARCHAR" />
    <result column="location_level" property="locationLevel" jdbcType="TINYINT" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, location_code, location_name, location_level, parent_code, lon, lat, created_at, 
    updated_at, is_deleted
  </sql>
  <sql id="Dto_Column_List" >
    id, location_code, location_name, location_level, parent_code, lon, lat, created_at,
    updated_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_location
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_location
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.thundersdata.backend.basic.model.SysLocation" >
    insert into sys_location (id, location_code, location_name, 
      location_level, parent_code, lon, 
      lat, created_at, updated_at, 
      is_deleted)
    values (#{id,jdbcType=INTEGER}, #{locationCode,jdbcType=VARCHAR}, #{locationName,jdbcType=VARCHAR}, 
      #{locationLevel,jdbcType=TINYINT}, #{parentCode,jdbcType=VARCHAR}, #{lon,jdbcType=VARCHAR}, 
      #{lat,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.thundersdata.backend.basic.model.SysLocation" >
    insert into sys_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="locationCode != null" >
        location_code,
      </if>
      <if test="locationName != null" >
        location_name,
      </if>
      <if test="locationLevel != null" >
        location_level,
      </if>
      <if test="parentCode != null" >
        parent_code,
      </if>
      <if test="lon != null" >
        lon,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="locationCode != null" >
        #{locationCode,jdbcType=VARCHAR},
      </if>
      <if test="locationName != null" >
        #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="locationLevel != null" >
        #{locationLevel,jdbcType=TINYINT},
      </if>
      <if test="parentCode != null" >
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        #{lon,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.thundersdata.backend.basic.model.SysLocation" >
    update sys_location
    <set >
      <if test="locationCode != null" >
        location_code = #{locationCode,jdbcType=VARCHAR},
      </if>
      <if test="locationName != null" >
        location_name = #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="locationLevel != null" >
        location_level = #{locationLevel,jdbcType=TINYINT},
      </if>
      <if test="parentCode != null" >
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        lon = #{lon,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thundersdata.backend.basic.model.SysLocation" >
    update sys_location
    set location_code = #{locationCode,jdbcType=VARCHAR},
      location_name = #{locationName,jdbcType=VARCHAR},
      location_level = #{locationLevel,jdbcType=TINYINT},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCityList" resultMap="DtoResultMap">
    select
    <include refid="Dto_Column_List" />
    from sys_location
    where is_deleted=0
  </select>

</mapper>