<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thundersdata.backend.basic.dao.WaybillOrderGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.thundersdata.backend.basic.model.WaybillOrderGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_size" property="goodsSize" jdbcType="VARCHAR" />
    <result column="goods_weight" property="goodsWeight" jdbcType="VARCHAR" />
    <result column="goods_volume" property="goodsVolume" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.thundersdata.backend.basic.model.WaybillOrderGoods" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_code, goods_code, goods_name, goods_type, goods_size, goods_weight, goods_volume, 
    created_at, updated_at, is_deleted
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from waybill_order_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from waybill_order_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.thundersdata.backend.basic.model.WaybillOrderGoods" >
    insert into waybill_order_goods (id, order_code, goods_code, 
      goods_name, goods_type, goods_size, 
      goods_weight, goods_volume, created_at, 
      updated_at, is_deleted, remark
      )
    values (#{id,jdbcType=INTEGER}, #{orderCode,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, #{goodsSize,jdbcType=VARCHAR}, 
      #{goodsWeight,jdbcType=VARCHAR}, #{goodsVolume,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.thundersdata.backend.basic.model.WaybillOrderGoods" >
    insert into waybill_order_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="goodsCode != null" >
        goods_code,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="goodsSize != null" >
        goods_size,
      </if>
      <if test="goodsWeight != null" >
        goods_weight,
      </if>
      <if test="goodsVolume != null" >
        goods_volume,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsSize != null" >
        #{goodsSize,jdbcType=VARCHAR},
      </if>
      <if test="goodsWeight != null" >
        #{goodsWeight,jdbcType=VARCHAR},
      </if>
      <if test="goodsVolume != null" >
        #{goodsVolume,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.thundersdata.backend.basic.model.WaybillOrderGoods" >
    update waybill_order_goods
    <set >
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsSize != null" >
        goods_size = #{goodsSize,jdbcType=VARCHAR},
      </if>
      <if test="goodsWeight != null" >
        goods_weight = #{goodsWeight,jdbcType=VARCHAR},
      </if>
      <if test="goodsVolume != null" >
        goods_volume = #{goodsVolume,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.thundersdata.backend.basic.model.WaybillOrderGoods" >
    update waybill_order_goods
    set order_code = #{orderCode,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      goods_size = #{goodsSize,jdbcType=VARCHAR},
      goods_weight = #{goodsWeight,jdbcType=VARCHAR},
      goods_volume = #{goodsVolume,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thundersdata.backend.basic.model.WaybillOrderGoods" >
    update waybill_order_goods
    set order_code = #{orderCode,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      goods_size = #{goodsSize,jdbcType=VARCHAR},
      goods_weight = #{goodsWeight,jdbcType=VARCHAR},
      goods_volume = #{goodsVolume,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--删除订单和商品表-->
  <delete id="deleteWaybillOrderGoods">
    delete from waybill_order_goods where order_code=#{orderCode}
  </delete>
  <!--批量插入商品表-->
  <insert id="batchInsertWaybillOrderGoods" parameterType="arraylist">
    insert into waybill_order_goods ( order_code, goods_code,
    goods_name, goods_type, goods_size,
    goods_weight, goods_volume, remark)
    VALUES
    <foreach collection="waybillOrderGoodsDTOListList" item="waybillOrderGood" separator=",">
      ( #{shipmentCreditCode,jdbcType=VARCHAR}, #{waybillOrderGood.goodsCode,jdbcType=VARCHAR},
      #{waybillOrderGood.goodsName,jdbcType=VARCHAR}, #{waybillOrderGood.goodsType,jdbcType=VARCHAR}, #{waybillOrderGood.goodsSize,jdbcType=VARCHAR},
      #{waybillOrderGood.goodsWeight,jdbcType=VARCHAR}, #{waybillOrderGood.goodsVolume,jdbcType=INTEGER},
       #{waybillOrderGood.remark,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
</mapper>