<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thundersdata.backend.basic.dao.WaybillGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.thundersdata.backend.basic.model.WaybillGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="un_no" property="unNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="packaging_type" property="packagingType" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.thundersdata.backend.basic.model.WaybillGoods" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapDTO" type="com.thundersdata.backend.basic.dto.WaybillGoodsDTO" extends="ResultMapWithBLOBs" >
  </resultMap>
  <sql id="Base_Column_List" >
    id, un_no, name, type, packaging_type, alias, number, status, created_at, updated_at, 
    is_deleted
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from waybill_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectWaybillGoods" resultMap="ResultMapDTO">
      select
      <include refid="Base_Column_List" />
      ,
      <include refid="Blob_Column_List" />
      from waybill_goods
      where is_deleted = 0
      <if test="unNo!=null and unNo!=''">
        and un_no like #{unNo}
      </if>
      <if test="name!=null and name!=''">
        and name like #{name}
      </if>
      <if test="alias and alias!=''">
        and alias like #{alias}
      </if>
      order by id asc
      limit #{page.limit} offset #{page.offset}
    </select>
  <select id="countWaybillGoods" resultType="java.lang.Integer">
      select count(*) from waybill_goods
    where is_deleted = 0
    <if test="unNo!=null and unNo!=''">
      and un_no like #{unNo}
    </if>
    <if test="name!=null and name!=''">
      and name like #{name}
    </if>
    <if test="alias!=null and alias!=''">
      and alias like #{alias}
    </if>
  </select>
    <select id="selectWaybillGoodsCombo" resultType="com.thundersdata.backend.basic.dto.DictDTO">
      select
        id `key`, name value, alias filed
      from waybill_goods
      where is_deleted = 0
        <if test="value!=null and value!=''">
          and ( name like #{value} or alias like #{value} )
        </if>
      order by id asc
      limit 20
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from waybill_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.thundersdata.backend.basic.model.WaybillGoods" >
    insert into waybill_goods (id, un_no, name, 
      type, packaging_type, alias, 
      number, status, created_at, 
      updated_at, is_deleted, remark
      )
    values (#{id,jdbcType=INTEGER}, #{unNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{packagingType,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{number,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.thundersdata.backend.basic.model.WaybillGoods" >
    insert into waybill_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="unNo != null" >
        un_no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="packagingType != null" >
        packaging_type,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="unNo != null" >
        #{unNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="packagingType != null" >
        #{packagingType,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.thundersdata.backend.basic.model.WaybillGoods" >
    update waybill_goods
    <set >
      <if test="unNo != null" >
        un_no = #{unNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="packagingType != null" >
        packaging_type = #{packagingType,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.thundersdata.backend.basic.model.WaybillGoods" >
    update waybill_goods
    set un_no = #{unNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      packaging_type = #{packagingType,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      number = #{number,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thundersdata.backend.basic.model.WaybillGoods" >
    update waybill_goods
    set un_no = #{unNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      packaging_type = #{packagingType,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      number = #{number,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateWaybillGoodsDeleteedBatch">
    update waybill_goods
    set
      is_deleted = 1
    where id in
    <foreach collection="ids" item="item" index="index"
             open="(" separator="," close=")">#{item}
    </foreach>

  </update>
</mapper>